$secondary: #4D578F;

body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
}
header {
    display: flex;
    height: 100px;
    padding:0px;
    align-items: center;
    .logo-holder {
        transform: scale(0.7);
        flex:0.1;
        display: flex;
        justify-content: center;
        z-index: 500;
        .logo{
            background: none;
            border: none;
            transition: ease 0.25s all;
            width: 128px;
        img {
            

        }
            &:hover{
                transform: scale(1.05)
            }
        
    }

    }
    nav {
        flex: 0.88;
        display: flex;
        justify-content: right;
        z-index: 500;
        text-transform: uppercase;
        
        ul{
            list-style:none;
            margin:0;
            padding:50px;
            transition: ease 0.25s all;
            
            li {
                display:inline-block;
                font-size: 20px;
                font-weight: lighter;
                text-decoration: none;
                   &:hover{
                transform: scale(1.05)
                
                
            }
                a {
                    display:inline-block;
                    color: #7484D5;
                    padding: 5px 50px;
     
                }
            }
            
            .differentp{
                display:inline-block;
                font-size: 20px;
                font-weight: lighter;
                .dropdown{
                    position: relative;
                    display: inline-block;
                }
                .selectport{
                    display: inline-block;
                    padding: 5px 50px;
                    background: none;
                    cursor: pointer;
                    border: none;
                    font-size: 20px;
                    font-weight: lighter;
                    text-transform: uppercase;
                    color: #7484D5;
                }
                .selectport:hover{
                    background: none;
                    border: none;
                }
                     .menu{
                        position: absolute;
                        display: none;
                        top: 100%;
                        color: #323b40; 
                        padding: 0em;
                         left:0px;
                        li{
                            color:
                            a{
                    display:inline;
                    color: #ffff;
                    padding: 0px 0px;
                    boarder-radius:0.25em;
                            }
                            
                        }
                }
                .dropdown:hover .menu{
                    display: inline-block;
                    width: 180px;
                    left: 20px;
                    text-decoration: none;
                    padding: 0px;
                    background-color: rgba(255,255,255,0.2);
                    border-radius: 0px 0px 25px 25px;
                    li{
                        left:100px;
                    }
                }
                
            }
            
            }
        @media(max-width:768px){
           display: none;
        }
        }
    }


.hero-banner {
    .slider {
        .slide {
            z-index: 0;
            height: 800px;
            display: flex;
            overflow: visible;
            
            }
            .image {
                flex:1;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: top;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0; bottom: 0;
                right: 0;
                background-image:url(banner1.svg);
                
                }
            }
   

    }     
            

        

.textboxtitles {
    .content {
        z-index: 500;
        .nameheading {
            position: absolute;
            left: 1; right:0;
            top:65%; bottom:0;
            padding: 45px;
            display: flex;
            justify-content: center;
            align-items: right;
            flex-direction: column;
            font-size: 73px;
            text-align: right;
            color: #4D578F;
            text-transform: uppercase;
            font-weight: bold;
            .last{
                margin-top: -0.3em;
            }
            
        }
        .namesub{
            position:absolute;
            left: 1; right:0;
            top:40%; bottom:0;
            padding: 52px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 14.5px;
            text-align: right;
            color: #4D578F;
            text-transform: uppercase;
            font-weight: lighter;
        }
        
    }
    
}
.mainheader {
    padding-left: 30px;
    .line1{
        position: absolute;
        left:0; right:38%;
        top:0; bottom:42%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-shrink: 0;
        @media(max-width:1200px){
            transform: scale(0.8);
        }
        @media(max-width:992px){
            position: absolute;
            right:0;
        }
        @media(max-width:768px){
            transform: scale(0.5);
            bottom: 38%;
        }
    }
    .line2{
        position: absolute;
        left:0; right:38%;
        top:0; bottom:0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-shrink: 0;
        @media(max-width:1200px){
            
            transform: scale(0.8);
        }
        @media(max-width:992px){
            position: absolute;
            right:0;
        }
                @media(max-width:768px){
            transform: scale(0.5);
            bottom:6%;
        }
    }
    .titleset{
            position: absolute;
            left: 0; right:38%;
            top:0; bottom:22%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            
            
        .Title{
            position: absolute;
            display: flex;
            justify-content: center;
            flex-shrink: 0;
            align-items: center;
            flex-direction: column;
            font-size: 400%;
            color: #4B4B4B;
            font-weight: bold;
            text-transform: uppercase;
            @media(max-width:1200px){
            font-size:350%;
            position: absolute;
                right:1;
            }
            @media(max-width:992px){
            font-size: 275%;
            position:absolute;
            right:-20%;
            }
            @media(max-width:768px){
                font-size:200%;
                right:-40%;
                
            }
            .titleupper{
                margin-top: -.3em;
                display: flex;
                flex-direction: column;
                align-items: center
            }
            
        }
        .subtitle {
            position: absolute;
            left: 0; right:0;
            top:50%; bottom:0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 35px;
            color: #9097BB;
            @media(max-width:1200px){
            font-size: 30px;
                left:22%;
                width: 400px;
                top:48%;
        }
        @media(max-width:992px){
            font-size:25px;
            left:48%;
            top:45%;
        }
        @media(max-width:768px){
            font-size:20px;;
            left:19%;
            top:40%;
        }

        
            }
        }
}
.profilepic{
    flex:0.2;
        display: flex;
        justify-content: center;
        z-index: 500;
        img {
            display: flex;
            position: absolute;
            left: 65%;right:0;
            top:15%; bottom:0;
            transform: scale(0.62);
            @media(max-width:992px){
                flex-direction: column;
                display: none;
            }
        }
}
.finance{
    height: 1000px;
    background: #ffff;
    background-image:url(Finance.png);
    background-size:cover;
    background-position: center;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    .imageholder{
        transform: translateY(-70%);
        bottom-padding:0px;
                @media(max-width:1200px){
            transform: scale(0.8) translateY(-90%);
        }
        @media(max-width:992px){
            transform: scale(0.6)translateY(-120%);
        }
        @media(max-width:768px){
            transform: scale(0.4)translateY(-180%);
        }
    }
    .finwrap{
        display: inline-block;
        padding-top: 150px;
    .flabel{
        display: inline-block;
        background: none;
        border: none;
        transition: ease 0.25s all;
        @media(max-width:1200px){
            transform: scale(0.8);
        }
        @media(max-width:992px){
            transform: scale(0.6);
        }
        @media(max-width:768px){
            transform: scale(0.4);
        }
        &:hover{
        transform: scale(1.05);
    }
        }
        
    }
}
.design{
   height: 1000px;
    background: #ffff;
    background-image:url(Design.png);
    background-size:cover;
    background-position: center;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center; 
    .deswrap{
        display: inline-block;
        padding-top: 280px;
    .dlabel{
        display: inline-block;
        background: none;
        border: none;
        transition: ease 0.25s all;
                @media(max-width:1200px){
            transform: scale(0.8);
        }
        @media(max-width:992px){
            transform: scale(0.6);
        }
        @media(max-width:768px){
            transform: scale(0.4);
        }
            &:hover{
        transform: scale(1.05);
    }
        }

    }

}
.bizdev{
    height: 1000px;
    background: #ffff;
    background-image:url(BizDev.png);
    background-size:cover;
    background-position: center;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center; 
    .bizwrap{
        display: inline-block;
        padding-top: 280px;
    .blabel{
        display: inline-block;
        background: none;
        border: none;
        transition: ease 0.25s all;
                @media(max-width:1200px){
            display: flex;
                    transform: scale(0.8);
        }
        @media(max-width:992px){
            transform: scale(0.6);
        }
        @media(max-width:768px){
            transform: scale(0.4);
        }
            &:hover{
        transform: scale(1.02);
    }
        }

    }

}